extends ./layout.jade

block content
  form(method="get",action="JavaScript:update();")
    input.border(id="input",type="text",size="30")
  .controls
    button(onclick="JavaScript:sendMessage('left');") left
    button(onclick="JavaScript:sendMessage('right');") right
    button(onclick="JavaScript:sendMessage('up');") up
    button(onclick="JavaScript:sendMessage('down');") down

  div(style="margin:10px; visibility:hidden;")
    textarea(rows="20",cols="70",id="debugmessage")
